body{
  font-family: 'Josefin Sans', sans-serif;
}

.app-images{
  height: 25rem;
}
.bg-carousel{
  max-width: 90%;
  max-height: 80rem;
  background-color: darkgray;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

.bg-offwhite{
  background-color: rgb(148, 140, 132);
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

.btn-primary {
  background-color: #4c00c6;
  border-color: #4200c6;
}
.carousel-caption{
  color: black;
  text-shadow: 2px 2px 2px whitesmoke;
}

.icon-spinner{
  animation: spin-animation .25s infinite;
  display: inline-block;
}

@keyframes spin-animation{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}
.profile-picture{
  max-width: 25rem;
  max-height: 25rem;
}
.project-images{
  max-height: 60rem;
}
.project2-images{
  height: 40rem;
}
.project3-images{
  height: 40rem;
}

